{% load static %}

<header>
    <div class="container header-container">
        <a href="{% url 'books:home' %}" class="logo-link">Bookshop</a>

        <nav class="nav-right">
            {% if user.is_authenticated %}
                <span class="welcome-text">Xin chào, {{ user.username }}</span>

                {% if user.role == 'admin' %}
                    <a href="{% url 'books:dashboard' %}" class="nav-link admin">Dashboard Admin</a>
                {% endif %}
                <a href="{% url 'books:shop' %}" class="nav-link">Cửa hàng</a>
                 <a href="{% url 'books:cart' %}" class="nav-link">Giỏ hàng</a>
                <a href="{% url 'books:profile' %}" class="nav-link">Tài khoản</a>
                <a href="{% url 'books:logout' %}" class="nav-link logout">Đăng xuất</a>

            {% else %}
            
                <a href="{% url 'books:shop' %}" class="nav-link">Cửa hàng</a>
                <a href="{% url 'books:cart' %}" class="nav-link">Giỏ hàng</a>
                <a href="{% url 'books:login' %}" class="nav-link">Đăng nhập</a>
            {% endif %}
        </nav>
    </div>
</header>